# Arquivos de ambiente
.env
.env.local

# Logs
*.log
logs/
storage/logs

# Cache
cache/
tmp/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dependências (se usar Composer)
vendor/

# Node.js
node_modules/
whatsapp-service/media/
whatsapp-service/src/store/*/
whatsapp-service/logs/


# Uploads
public/uploads/
storage/

# Banco de dados local
*.sqlite
*.db

